body {
  background-color: #c24e8e;
}
h1 {
  color: #f0cde0;
  font-size: 100px;
  font-family: monospace;
  margin-left: 50px;
}
h2 {
  color: #f0cde0;
  font-size: 30px;
  font-family: monospace;
  margin-left: 50px;
}
p {
  color: #f0cde0;
  font-size: 20px;
  font-family: monospace;
}
#tile {
  height: 50px;
  width: 50px;
  background-color: rgb(238, 148, 198);
  border-width: 5px;
  border-style: solid;
  border-color: rgb(248, 206, 229);
}
#inputField {
  font-size: 20px;
  color: rgb(155, 5, 110);
  margin-left: 50px;
}
#stepButton {
  color: rgb(155, 5, 110);
  background-color: rgb(248, 206, 229);
  font-family: monospace;
  padding: 10px;
  margin-left: 1350px;
  margin-top: 450px;
  position: relative;
}
#result {
  color: #f0cde0;
  font-size: 50px;
  font-family: monospace;
}
#unsorted {
  color: #f0cde0;
  font-size: 50px;
  font-family: monospace;
}
#step {
  color: #f0cde0;
  font-size: 50px;
  font-family: monospace;
}
button {
  color: rgb(155, 5, 110);
  background-color: rgb(248, 206, 229);
  font-family: monospace;
  padding: 10px;
  margin-left: 20px;
  position: relative;
}
